##  Color configuration
##
##  For each item, the following three attributes can be specified:
##  * fore-color: The text color
##  * back-color: The background color
##      * Valid colors are the usual 16 terminal colors:
##          black, red, green, blue, yellow, magenta, cyan, white,
##          bright-black, bright-red, bright-green, bright-yellow,
##          bright-blue, bright-magenta, bright-cyan, bright-white
##  * style:
##      * Valid styles are:
##          standout, underline, reverse-video, blink, dim, bold
##        Please note that not all styles are necessarily supported
##        by your terminal.
##
##  If a color/style is not given, it falls back to the terminal
##  default:
##
##      # terminal-default back-color and style
##      line-numbers:
##        fore-color: blue
##      ...
##
##      # reset line-numbers to terminal default
##      line-numbers: {}
##      ...
##
##  If no config is given for a color, the vgrep default config
##  steps in (which may differ from your terminal's default):
##
##      # use vgrep default config for line numbers
##      line-numbers:
##      ...
##
colors:

    # Line numbers
    line-numbers:
        fore-color: blue

    # Highlighted line numbers
    line-numbers-hl:
        fore-color: blue
        style: bold

    # Normal text
    normal: {}

    # Highlighted text
    normal-hl:
        style: bold

    # The file names in the results list
    file-headers:
        back-color: green

    # The line currently selected by the cursor
    selected:
        style: standout


##  The tabstop witdth (a tab character moves the indentation to the
##  next multiple of this value)
##
tabstop: 8


##  The editor to be used by the 'e' key (read from $EDITOR by
##  default, but can be overridden here).
##
# editor: "vi"


##  Keybindings
##
##  The following commands can be mapped:
##  * display-pager-only     -- Display the pager full-screen
##  * display-results-only   -- Display the results list full-screen
##  * split-focus-pager      -- Split screen, focus on pager
##  * split-focus-results    -- Split screen, focus on results list
##  * pager-up               -- Scroll one line up in pager
##  * pager-down             -- Scroll one line down in pager
##  * pager-page-up            -- Scroll one page up in pager
##  * pager-page-down          -- Scroll one page down in pager
##  * pager-scroll-left      -- Scroll eight characters left in pager
##  * pager-scroll-right     -- Scroll eight characters right in pager
##  * results-up             -- Move to previous result
##  * results-down           -- Move to next result
##  * results-page-up          -- Move one page up in results list
##  * results-page-down        -- Move one page down in results list
##  * prev-result            -- Move to previous result and update pager
##  * next-result            -- Move to next result and update pager
##  * pager-goto-result      -- Update pager with currently selected result
##  * open-file-in-editor    -- Open file in external editor and jump to
##                              currently selected result
##  * exit                   -- Exit the application
##  * unset                  -- Treat keybinding as if not present, fall back to
##                           -- alternative binding (used to override keybindings)
##  A command can be mapped to multiple keys.
##
##  Key notation examples
##  * j                      -- the 'j' key
##  * J                      -- the 'J' key (Shift-'j')
##  * Up, Down, Left, Right  -- the corresponding arrow keys
##  * S-Up, C-Up, M-Up       -- Modifiers Shift, Ctrl, Alt/Meta combined with the
##                              Up key
##  * C-M-S-Up, C-S-M-Up     -- Modifiers can be combined, the order is irrelevant
##                              (both correspond to Control-Alt-Shift-Up)
##  * The Shift key can only be applied to non-character keys (like Up, Down,
##    Space, Enter): Shift-'j' is represented by 'J', not by 'S-j'.
##
##  Default keybindings:
keybindings:

    # These keybindings are always in effect, but can be overridden.
    global-keybindings:
        q        : exit
        e        : open-file-in-editor

    # These keybindings apply when navigating the results list. They override
    # any colliding global-keybinding.
    results-keybindings:
        Up       : results-up
        Down     : results-down
        PageUp   : results-page-up
        PageDown : results-page-down
        Enter    : pager-goto-result
        k        : results-up
        j        : results-down
        C-u      : results-page-up
        C-d      : results-page-down
        C-b      : results-page-up
        C-f      : results-page-down
        f        : display-results-only
        Tab      : split-focus-pager

    # These apply when navigating the pager. They override any colliding
    # global-keybinding.
    pager-keybindings:
        Up       : pager-up
        Down     : pager-down
        PageUp   : pager-page-up
        PageDown : pager-page-down
        Left     : pager-scroll-left
        Right    : pager-scroll-right
        k        : pager-up
        j        : pager-down
        h        : pager-scroll-left
        l        : pager-scroll-right
        C-u      : pager-page-up
        C-d      : pager-page-down
        C-b      : pager-page-up
        C-f      : pager-page-down
        Tab      : split-focus-results
        f        : display-pager-only
        q        : display-results-only

##  Alternative keybindings: tig-style
##  (jk to navigate the pager, Up/Down to navigate the results list)
##
# keybindings:
#     results-keybindings:
#         O        : display-results-only
#         f        : unset
#     pager-keybindings:
#         O        : display-pager-only
#         Up       : prev-result
#         Down     : next-result
#         f        : unset
