# Color configuration
#
# For each item, the following three attributes can be specified:
# * fore-color: The text color
# * back-color: The background color
#     * Valid colors are the usual 16 terminal colors:
#         black, red, green, blue, yellow, magenta, cyan, white,
#         bright-black, bright-red, bright-green, bright-yellow,
#         bright-blue, bright-magenta, bright-cyan, bright-white
# * style:
#     * Valid styles are:
#         standout, underline, reverse-video, blink, dim, bold
#       Please note that not all styles are necessarily supported
#       by your terminal.
#
# If a color/style is not given, it falls back to the terminal
# default. If no config is given for a color, the vgrep default
# config steps in (which may differ from your terminal's default).
colors:

    # Line numbers
    line-numbers:
        fore-color: blue
    # Highlighted line numbers
    line-numbers-hl:
        fore-color: blue
        style: bold

    # Normal text
    normal:

    # Highlighted text
    normal-hl:
        style: bold

    # The file names in the results list
    file-headers:
        back-color: green

    # The line currently selected by the cursor
    selected:
        style: standout

# The tabstop witdth (a tab character moves the indentation to the
# next multiple of this value)
tabstop: 8

# The editor to be used by the 'e' key (read from $EDITOR by
# default, but can be overridden here).
# editor: "vi"
